
.barra{
  width: 1.5rem;
  height: 1.5rem;
}
.carro{
  
  transform: translate(50% , -50%);
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  right: 0%;

}
.login{
  font-size: 2em;
  cursor: pointer;
}
.logo{
  width: 3em;
}

.navigation-menu {
  /* metodo calc() calcula la altura 
  100vh es el total de alto de la pantalla y se le resta los 4rem del header para que tener el total de lo que sobra*/
  height: calc(100vh - 4rem);
}

.navigation-menu-item{
  right: 0;
  display: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

/* .navigation-link:hover al pasar el mouse por ese link se mostrara .navigation-submenu */
.navigation-link:hover .navigation-submenu {
  display: block !important;
  
}
.lista-menu:hover{
  color: white!important;
  background-color: blue;
}
.subcatergoria-menu{
  color: gray;
  display: inline-block;
  font-weight: bold;
}
.subcatergoria-menu:hover{
  color: blue;
}
.subcategoria{
  object-fit: cover;
  object-position: center;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.h-max{
  height: calc(100vh - 4rem);
}
.h-16{
  height: 4rem;
}
.w-full{
  width: 100%;
}
.w-9{
  width: 2.5rem;
}
.h-64{
  height: 16rem;
}
.inline-block{
display: inline-block;
}
.cursor-pointer{
  cursor: pointer;
}